# NFL Betting Odds

**Author:** Jakob Malasig
**Last modified:** 11-17-2024 (created: 11-17-2024)

**Description:** I will be downloading data for NFL season (2018 to current) from Fixture Downloads and integrating into one. Will then export it as a csv file for further anaylsis.

<br>

Import libraries:

In [40]:
import pandas as pd
import os

<br>

Load data:

In [53]:
# code to read csv file
import os
print(os.getcwd())

/Users/jmalasig/Documents/GitHub/3250-project/code/notebooks

In [59]:
# load all of Fixture Download data into dataframes
# 2018
nfl_2018 = pd.read_csv("../../data/raw/nfl-2018.csv", encoding = "UTF-8")

# 2019
nfl_2019 = pd.read_csv("../../data/raw/nfl-2019.csv", encoding = "UTF-8")

# 2020
nfl_2020 = pd.read_csv("../../data/raw/nfl-2020.csv", encoding = "UTF-8")

# 2021
nfl_2021 = pd.read_csv("../../data/raw/nfl-2021.csv", encoding = "UTF-8")

# 2022
nfl_2022 = pd.read_csv("../../data/raw/nfl-2022.csv", encoding = "UTF-8")

# 2023
nfl_2023 = pd.read_csv("../../data/raw/nfl-2023.csv", encoding = "UTF-8")

# 2024
nfl_2024 = pd.read_csv("../../data/raw/nfl-2024.csv", encoding = "UTF-8")

<br>

Integrate data:

In [63]:
# vertically integrate the dataframes
nfl_games = pd.concat([nfl_2018, nfl_2019, nfl_2020, nfl_2021, nfl_2022, nfl_2023, nfl_2024], ignore_index=True)
display(nfl_games)

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
0,1,1,06/09/2018 20:20,Lincoln Financial Field,Philadelphia Eagles,Atlanta Falcons,18 - 12
1,2,1,09/09/2018 13:00,FirstEnergy Stadium,Cleveland Browns,Pittsburgh Steelers,21 - 21
2,3,1,09/09/2018 13:00,Lucas Oil Stadium,Indianapolis Colts,Cincinnati Bengals,23 - 34
3,4,1,09/09/2018 13:00,Hard Rock Stadium,Miami Dolphins,Tennessee Titans,27 - 20
4,5,1,09/09/2018 13:00,U.S. Bank Stadium,Minnesota Vikings,San Francisco 49ers,24 - 16
...,...,...,...,...,...,...,...
1914,268,18,04/01/2025 00:00,MetLife Stadium,New York Jets,Miami Dolphins,NaN
1915,269,18,04/01/2025 00:00,Lincoln Financial Field,Philadelphia Eagles,New York Giants,NaN
1916,270,18,04/01/2025 00:00,Acrisure Stadium,Pittsburgh Steelers,Cincinnati Bengals,NaN
1917,271,18,04/01/2025 00:00,Raymond James Stadium,Tampa Bay Buccaneers,New Orleans Saints,NaN
1918,272,18,04/01/2025 00:00,Nissan Stadium,Tennessee Titans,Houston Texans,NaN

<br>

Cleaning data:

In [70]:
# removing column not needed
nfl_games = nfl_games.drop(columns = ["Match Number", "Round Number"])

In [78]:
# renames columns to snake case
column_names = {
    "Date": "date",
    "Location": "location",
    "Home Team": "home_team",
    "Away Team": "away_team",
    "Result": "score"
}

nfl_games = nfl_games.rename(columns = column_names)

In [80]:
# check column types
print(nfl_games.dtypes)

date         object
location     object
home_team    object
away_team    object
score        object
dtype: object

In [82]:
# converting date to date type
nfl_games["date"] = pd.to_datetime(nfl_games['date'], errors='coerce', format='%d/%m/%Y  %H:%M')

In [88]:
# remove records with nulls
nfl_games = nfl_games.dropna()

In [90]:
display(nfl_games)
print(nfl_games.shape)

,date,location,home_team,away_team,score
0,2018-09-06 20:20:00,Lincoln Financial Field,Philadelphia Eagles,Atlanta Falcons,18 - 12
1,2018-09-09 13:00:00,FirstEnergy Stadium,Cleveland Browns,Pittsburgh Steelers,21 - 21
2,2018-09-09 13:00:00,Lucas Oil Stadium,Indianapolis Colts,Cincinnati Bengals,23 - 34
3,2018-09-09 13:00:00,Hard Rock Stadium,Miami Dolphins,Tennessee Titans,27 - 20
4,2018-09-09 13:00:00,U.S. Bank Stadium,Minnesota Vikings,San Francisco 49ers,24 - 16
...,...,...,...,...,...
1780,2024-11-03 21:05:00,State Farm Stadium,Arizona Cardinals,Chicago Bears,29 - 9
1781,2024-11-03 21:25:00,Lambeau Field,Green Bay Packers,Detroit Lions,14 - 24
1782,2024-11-03 21:25:00,Lumen Field,Seattle Seahawks,Los Angeles Rams,20 - 26
1783,2024-11-04 01:20:00,U.S. Bank Stadium,Minnesota Vikings,Indianapolis Colts,21 - 13
1784,2024-11-05 01:15:00,GEHA Field at Arrowhead Stadium,Kansas City Chiefs,Tampa Bay Buccaneers,30 - 24

(1784, 5)

<br>

Creating new csv file from cleaned data:

In [94]:
nfl_games.to_csv("../../data/clean/clean_fixture_data.csv", encoding = "UTF-8", index = False)